/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Dancing Script', cursive;*/
*{
  margin: 0;
  padding: 0;
}
body{

}

/*header start*/
header{
    background-color: rgb(254, 247, 246);
    width: 100%;
}

/*header .logo a img{
    width: 20%;
    height: auto;
    overflow: hidden;
}*/
header .logo p{
/*font-family: var(--font-cursive) !important;*/
font-family: 'Dancing Script', cursive;
font-size: 43px;
font-weight: 600;
margin: auto;
text-align: left;
padding: 0 !important;
}
.menu{

}
.menu ul li a{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black !important;
    padding: 15px 15px !important;
    transition: 0.4s;
}
.menu ul li a.activate{
    color: #fa6878 !important;
}
.menu ul li a:hover{
    color: #fa6878 !important;
}
/*.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(254, 247, 246);
}*/
/*header end*/
/* Experiment Banner */
:root {
    --font-cursive: 'Alex Brush', cursive;
    --font-normal: 'Roboto', sans-serif;
}

.mpe {
    background-color: cadetblue;
}
.bannerr{
    height: auto;
    overflow: hidden;
    /* margin-bottom: 80px;*/
}
/*.banner {
    color: white;
    padding-bottom: 20px;
    padding-top: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}*/
#titulo-banner {
    position: relative;
    font-size: 100px;
    font-family: var(--font-cursive) !important;
    font-weight: bold;
    color: #fff;
    -webkit-text-stroke: 0.3px black;
    letter-spacing: 2px;
}

#titulo-banner:after {
    content: url('https://cutt.ly/UeQwaIT');
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0px;
    top: -10px;
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    -moz-transform: scaleX(-1);
    /* Firefox */
    -o-transform: scaleX(-1);
    /* Opera */
    -webkit-transform: scaleX(-1);
    /* Chrome y Safari */
    transform: scaleX(-1);
    /* w3org */
    filter: FlipH;
    /* Internet Explorer */
}

#titulo-banner:before {
    content: url('https://cutt.ly/UeQwaIT');
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;

    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

#desc-banner {
     font-family: var(--font-normal);
    font-size: 20px;
    font-weight: 600;
    color: white;
    position: relative;
    top: -20px;
    -webkit-text-stroke: 0.3px black;
}
.btn-default {
    background-color: #ff5353;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
}
.btn, .btn-default {
    color: #fff;
    display: inline-block;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 0.8;
    text-transform: uppercase;
    min-width: 170px;
    padding: 20px 25px;
    transition: .5s;
}
.btn-default:hover{
    background-color: #fff;
}
#snow{
    background: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index:0;
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

/* Experiment Banner*/

/*banner start*/
/*.banner{
    background-image: url(../image/bg-1.jpg);
}
.banner, .banner02 {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 0;
    margin-bottom: 50px;
}
.banner .banner_content .tagline, .banner02 .banner_content .tagline {
    display: block;
    margin-bottom: 15px;
}
.tagline {
    font-weight: 500;
    color: #565656;
    display: inline-block;
    line-height: 0.8;
    letter-spacing: 2.8px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.banner .banner_content h1, .banner02 .banner_content h1 {
    font-weight: 500;
    font-size: 62px;
    line-height: 70px;
    margin-bottom: 45px;
    color: rgb(0, 0, 0);
}
.btn-default {
    background-color: #ff5353;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
}
.btn, .btn-default {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 0.8;
    text-transform: uppercase;
    min-width: 170px;
    padding: 20px 25px;
    transition: .5s;
}
.btn-default:hover{
    background-color: #fff;
}*/
/*banner end*/


/*feature start*/
.feature{
background-color: black;
padding-top: 50px;
padding-bottom: 50px;
}
.f_title{
    margin-bottom: 50px;
}
.title{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: white;
}

.img{
    position: relative;
    margin-bottom: 50px;
}
.img img{
    width: 100%;
    display: block;
}
.img::before{
    content: '';
    position: absolute;
    /*background: #ff00006e;*/
    width: 100%;
    height: 0%;
    right: 0;
    top: 0%;
    transition: all .4s ease;
}
.img:hover::before{
    height: 100%;
    bottom: 100%;
}
.icon{
    position: absolute;
    /*top: 50%;*/
    bottom: 70px;
    left: 50%;
    color: white;
    /*-webkit-transform: translateX(-50%);*/
    /*transform: translateX(-50%);*/
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: all .4s ease;
    text-align: center;
}
.icon ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.icon ul li a{
    margin: 0 !important;
    padding: 0 !important;
}
.icon ul li i{
    font-size: 20px;
    border: 1px solid white;
    color: black;
    background-color: white;
    padding: 15px 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    margin: 0px 5px;
    transition: .5s;
}
.icon ul li i:hover{
    color: white;
    background-color: rgb(250, 104, 120);
}
.img:hover .icon{
    opacity: 1;
}
.product-content{
    margin-top: -30px;
}
.product-content h5{
    margin-top: -30px;
}
.product-name{
    font-size: 14px;
    font-weight: 400;
    color: #888;
    text-transform: capitalize;
    margin-bottom: 0;
}
.product-name a {
    color: #888;
       font-size: 16px;
}
.ratings{
    margin-top: 10px;
    margin-bottom: 10px;
}
.ratings a {
    display: inline-block;
    font-size: 13px;
    color: #ff5353;
    /*background-color: #fa6878 !important;*/
}
.ratings li i{
  background-color: #fa6878 !important;   
}
.price {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.price span{
color: #fa6878;
font-weight: 600;
margin-left: 3px;
    }
.product-content button{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: #ff5353;
    padding: 5px 20px 5px 20px;
    color: white;
    border-radius: 7px;
    margin-bottom: 50px;
}
.product-content button:hover{
    background-color: white;
    color: #ff5353;
}


/*feature end*/


/*banner_2 start*/
.banner_2{
    /*background-color: #eae2d8;*/
    background-color: black;
    height: 565px;
    padding: 50px 0 0px 0;
}
.banner_2 h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 70px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: red;
    -webkit-text-stroke: 0.3px black;
}
.banner_2 h4 {
    font-weight: 300;
    font-family: "Dancing Script", cursive;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.btn-link {
    margin-top: 20px;
    background-color: #ff5353;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
}
.btn-link {
    color: #fff;
    display: inline-block;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 0.8;
    text-transform: uppercase;
    min-width: 170px;
    padding: 20px 25px;
    transition: .5s;
}
.btn-link:hover{
    background-color: #fff;
}
/*banner_2 end*/


/*popular start*/
.popular{
   /* margin-top: 60px;*/
    background-color: black;
    padding-bottom: 50px;
}
/*popular end*/


/*service start*/
.service{
    margin-bottom: 100px;
     padding-top: 50px;
}
.s_box{
    padding-top: 50px;
    border: 1px solid #ebeef0;
    position: relative;
    padding: 25px;
    text-align: center;
}
.s_icon{
    margin-bottom: 25px;
}
.s_box h1{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.s_box p {
    margin-bottom: 0;
    color: #888;
    line-height: 18px;
}
/*service end*/


/*product start*/
.product{
    padding-top: 50px;
 background-color: black;   
}
/*product end*/


/*blog start*/
.blog{
    margin-bottom: 80px;
}
.post-content{
    margin-top: 30px;
}
.post-meta {
    position: relative;
    color: #888;
    display: inline-block;
    line-height: 18px;
}
.date {
    font-size: 13px;
    padding-left: 22px;
}
.date:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff5353;
    border-radius: 2px;
    width: 12px;
    height: 6px;
}
.post-content a:hover{
    color: rgb(250, 104, 120);
    text-decoration: none;
}
.post-title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.post-title h3{
    font-weight: 700;
    color: #000;
}
.post-title a {
    color: #000;
    display: block;
    text-decoration: none;
    transition: .4s;
}
.post-title a:hover{
    color: rgb(250, 104, 120);
}
.meta-tags a{
    text-decoration: none;
}
.meta-tags a:hover{
    color: rgb(250, 104, 120);
}
.meta-tags a:first-child {
    margin-right: 25px;
}
.post-meta {
    position: relative;
    color: #888;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
}
.post-meta i {
    vertical-align: middle;
    margin-right: 10px;
}
/*blog end*/


/*form start*/
/*.page-container {
    margin: 80px auto 0 auto;
}
.sign_up{
    background-color: rgba(233, 226, 216);
}
form{
    padding: 60px 0px;
}
h1 {
    font-size: 30px;
    font-weight: 700;
    text-shadow:0 1px 4px rgba(0,0,0,.2);
    text-align:center;
}

form {
position:relative;
width:305px;
margin:15px auto 0 auto;
text-align:center;

}

input {
width:270px;
height:42px;
margin-top:25px;
padding:0 15px;
background:#2d2d2d;
background:rgba(45,45,45,.15);
-moz-border-radius: 6px;
-webkit-border-radius:6px;
text-align:center;
border-radius:6px;
border:1px solid #3d3d3d;
border:1px solid rgba(255,255,255,.15);
-moz-box-shadow:0 2px 3px 0 rgba(0,0,0,.1) inset;
-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
font-family: 'PT Sans', Helvetica, Arial, sans-serif;
font-size:16px;
color:#fff;
text-shadow:0 1px 2px rgba(0,0,0,.1);
-o-transition: all .2s;
-moz-transition: all .2s;
-webkit-transition: all .2s;
-ms-transition: all .2s;
}

input:-moz-placeholder { color: #fff; }
input:-ms-input-placeholder { color: #fff; }
input::-webkit-input-placeholder { color: #fff; }

input:focus {
outline:none;
-moz-box-shadow:
        0 2px 3px 0 rgba(0,0,0,.1) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
-webkit-box-shadow:
        0 2px 3px 0 rgba(0,0,0,.1) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
box-shadow:
        0 2px 3px 0 rgba(0,0,0,.1) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
}

.butn button{
cursor:pointer;
width:300px;
height:44px;
margin-top:25px;
padding:0;
background-color: rgb(250, 104, 120);
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border:1px solid #fa6878;
-moz-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.25) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
-webkit-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.25) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
box-shadow:
        0 15px 30px 0 rgba(255,255,255,.25) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
font-family:'PT Sans', Helvetica, Arial, sans-serif;
font-size:14px;
font-weight:700;
color:#fff;
text-shadow:0 1px 2px rgba(0,0,0,.1);
-o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

.butn button:hover {
    -moz-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.15) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.15) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow:
        0 15px 30px 0 rgba(255,255,255,.15) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
}

.butn button:active {
    -moz-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.15) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.15) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow:        
        0 5px 8px 0 rgba(0,0,0,.1) inset,
        0 1px 4px 0 rgba(0,0,0,.1);

    border: 0px solid #ef4300;
}
*/
/*form end*/

/*Contact Start*/
#contact{
    /*background-image: url(../images/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;*/
    background-color: black;
    background-position: center;
    padding:80px 0;
}
#contact .services-heading{
     font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: white;
    background-color: transparent;
    padding-bottom: 50px;
    padding-top: 0;
}
#contact .services-heading h2{
    color:#ffffff;
}
.form-control::placeholder{
    font-size: 15px;
    color:#999999;
}
.form-control{
    border:1px solid #999999;
    border-radius: 3px;
    background-color: transparent;
    color:#15a4fa !important;
    padding:25px 20px;
}
.form-control:focus{
    border-color:#fa6878 ;
    background-color: transparent;
    box-shadow: none;
    transition: .3s all-ease-in-out;
}
.custom-control-label {   
    color: #ffffff;
}
.custom-checkbox .custom-control-label::before {
    border-radius: 3px;
}
.send .btn{   
    background-color: transparent;
    font-size: 18px;
    line-height: 18px;
    padding: 0;
    padding: 15px 50px;
}
.send .btn:focus{
    box-shadow: none !important;
    background-color: #fa6878  !important;
}
.send .btn:hover{
    background-color:#fa6878 ;   
    transition: .3s all-ease-in-out;
}

/*Contact End*/


/*instragram start*/
.instragram{
padding-bottom: 50px;
    background-color: black;
}
.t_h1{
    margin-top: 70px;
}
.ins_img{
    position: relative;
    margin-bottom: 50px;
}
.ins_img img{
    width: 100%;
    display: block;
}
.ins_img::before{
    content: '';
    position: absolute;
    background: rgba(255, 83, 83, 0.7);
    width: 100%;
    height: 0%;
    right: 0;
    top: 0%;
    transition: all .4s ease;
}
.ins_img:hover::before{
    height: 100%;
    bottom: 100%;
}
.ins_icon{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: all .4s ease;
}
.ins_icon{
    list-style: none;
    display: flex;
    width: 100px;
    margin: 0;
    padding: 0;
}
.ins_icon ul li{
    font-size: 40px;
    padding: 0px 30px;
}
.ins_img:hover .ins_icon{
    opacity: 1;
}

/*instragram end*/


/*footer start*/
.footer {
    background-color: #e9e2d8;
}
.foo-top {
    padding: 80px 15px;
    border-bottom: 1px solid #d6d8d9;
}
.widget {
    position: relative;
}

.widget-title {
    font-weight: 700;
    font-size: 16px;
    color: #000;
    letter-spacing: 0.5px;
    margin-bottom: 0;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.widget-navigation li a {
    font-family:   font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #888;
    line-height: 30px;
    text-decoration: none;
    transition: .4s;
}
.widget-navigation li a:hover{
    color: rgb(250, 104, 120);
}
.app-btn {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #d6d8d9;
    padding-bottom: 30px;
}
.app-btn a {
    -ms-flex-preferred-size: 49%;
    flex-basis: 49%;
    padding: 40px 10px;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    padding-left: 35px;
    text-decoration: none;
}

.app-btn a i {
    color: #ff5353;
    font-size: 25px;
    margin-right: 5px;
    position: absolute;
    left: 7px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.app-btn a p {
    margin-bottom: 0;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    line-height: .8;
    text-transform: uppercase;
}
.app-btn a p span {
    display: block;
    font-size: 10px;
    font-weight: 400;
    color: #4a4a4a;
    line-height: .8;
    margin-bottom: 5px;
}
.app-btn a:hover, .app-btn a.app-store {
 /* background-color: #ff5353;*/
 background-color: white;
  transition: .4s;
}
.app-btn a:hover p, .app-btn a:hover span, .app-btn a:hover i, .app-btn a.app-store p, .app-btn a.app-store span, .app-btn a.app-store i {
  color: #fff;
  transition: .4s;
}

.app-btn a.app-store {
    background-color: #ff5353;
}
.app-btn a.app-store i {
    color: #fff;
}
.app-btn a.app-store p, .app-btn a.app-store span, .app-btn a.app-store i{
    color: #fff;
}
.social-media a {
    /*width: 30px;
    height: 30px;
    color: black;
    background-color: #fff;
    line-height: 32px;
    text-align: center;
    padding: 5px 5px;
    transition: .5s;*/
    font-size: 20px;
    color: black;
    border-radius: 7px;
    background-color: #fff;
    line-height: 32px;
    text-align: center;
    padding: 3px 10px 3px 10px;
    transition: .5s;
}
.social-media a:not(:last-child) {
    margin-right: 10px;
}
.social-media a:hover{
    color: #fff;
    background-color: #ff5353;
}
.copyright {
    padding: 20px 0;
    text-align: center;
    color: #888;
    margin-bottom: 0;
}
.copyright a {
    text-decoration: none;
    font-weight: 600;
    color: #ff5353;
}
#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  z-index: 99; 
  border: none;
  outline: none; 
  background-color: #000; 
  color: white; 
  cursor: pointer; 
  padding: 5px 10px;
  border-radius: 3px; 
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555; 
}

/*footer end